* {
	padding: 0; margin: 0; border: 0;
}

h2 {
	padding-bottom: 5px; margin-bottom: 20px; border-bottom: 2px solid #eeeeee; font:2.6em 'Lato';
}

a {
	color: #5d5d5d; text-decoration: none;
}

p {
	text-align: justify;
	line-height: 2.2em;
}

ul {
	list-style-type: none;
}

label {
	display: none;
}

input {
	height: 35px; padding: 0 10px; border-radius: 5px; font:1.4em 'Lato';
}

input[type=text], input[type=password] {
	margin-bottom: 10px; background: #eeeeee; color: #5d5d5d; text-shadow: 1px 1px #ffffff;
}

input[type=submit] {
	width: auto !important; background: #b7e4ef; color: #ffffff; font-weight: bold; text-shadow: 1px 1px 0 #a5bfc5;
}