@import url(http://fonts.googleapis.com/css?family=Lato:300);
@import url(standard.css);
@import url(userbox.css);
@import url(activitybox.css);
@import url(selections.css);

html {
	background: #e6e6e6; font: 0.75em Tahoma, Arial, Verdana; color: #5d5d5d;
}

header {
	display: none;
}

@-webkit-keyframes message {
	0%		{ opacity: 0; }
	20%		{ opacity: 1; }
	80%		{ opacity: 1; }
	100%	{ opacity: 0; }
}

#message {
	width: 100%; position: absolute; background: #b7e4ef; color: #ffffff; font:1.6em 'Lato'; font-weight: bold; text-shadow: 1px 1px 0 #a5bfc5;
	opacity: 0; -webkit-animation: message 5s linear ;
}

#message p {
	width: 987px; padding:20px 20px 20px 56px; margin: 0 auto; background-image: url(../img/check_icon.png); background-size: 24px; background-repeat: no-repeat; background-position: center left;
}

#horizon {
	width: 100%; height: 0; position: absolute; top: 50%; background: #ffffff;
}

#wrap {
	width: 1063px; height: 500px; margin: -250px 0 0 -532px; position: absolute; left: 50%;
}

section {
	height: 460px; padding: 20px; float: left; background: #ffffff; box-shadow: 3px 3px 4px #d6d6d6;
}

#userbox, #content {
	margin-right: 20px;
}

#userbox {
	width: 200px; border-top-left-radius: 5px; border-bottom-left-radius: 5px;
}

#content {
	width: 403px;
}

#activitybox {
	width: 300px; border-top-right-radius: 5px; border-bottom-right-radius: 5px;
}

footer {
	display: none;
}